#sidebar {
    /* These variables are for editing the tree packages default values */
    --rct-color-focustree-item-selected-bg: var(--gray);
    --rct-color-focustree-item-hover-bg: var(--gray_dim);

    --rct-color-drag-between-line-bg: var(--tes_gold);
    --rct-color-arrow: var(--txt_white);
    --rct-bar-color: var(--tes_gold);

    background-color: var(--bg_dim);
    min-width: 20%;
    min-height: 100vh;
}

.sidebar-item {
    cursor: pointer;
    margin-left: .5em;
}

.sidebar-item:hover {
    background-color: var(--gray_dim);
}

.sidebar-title {
    background-color: var(--bg4);
    margin: 0 0 .25em 0;
    padding: .5em 0 .5em .5em;
    font-weight: 600;
    font-size: .8em;
}

#tree {
    height: 80%;
    box-shadow: inset 0 -20px 10px -20px black;
}